<!DOCTYPE html>
<html>

<head>
	<link href="moo.li.css" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="moo.li.ico" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script src="moo.li.js" type="text/javascript"></script>
	<title>$mypages_title</title>
</head>

<body>
<div id="top">
	<ul id="$mypages_current_menu_href" class="menu">
		<li><a href="/">		Home		</a></li>
		<li><a href="about">		About		</a></li>
		<li><a href="ezuser">		ezUser		</a></li>
		<li><a href="mypages">		MyPages		</a></li>
		<li><a href="shorten">		short URLs	</a></li>
		<li><a href="isemail">		is_email()	</a></li>
		<li><a href="dominicsayers">	Dominic		</a></li>
	</ul>
</div>
<div id="body">$mypages_content</div>
</body>

</html>
